@import "bootstrap-icons/font/bootstrap-icons.css";
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}
body {
    font-family: 'Fantasy', sans-serif;
    font-size: 15px;
    font-weight: 400;
    background: #fafafa;
    color: #000000
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}


@media (min-width: 1200px) {
    .container {
        max-width: 1300px !important
    }
}


.name {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 20px;
    height: 40px;
}
.price {
    width: 80%;
    position: relative;
    height: 40px;
    font-size: 18px;
}
.address {
    position: relative;
    height: 20px;
}
.ship {
    position: absolute;
    right:0;
    font-size: 14px;
    opacity: 0.5;
}
.status {
    position: relative;
    height: 20px;
}
nav {
    border-radius: 5px;
}

.sold {
    position: absolute;
    right:0;
    font-size: 14px;
}
.input-group {
    height: 47px;
}
.search-input {
    height: 47px;
    border-radius: 0px;
}
.order {
    color: black;
    text-decoration: none;
}
.order:hover {
    color: black;
    text-decoration: none;
}
.real {
    font-size: 20px;
    position: absolute;
    top: 0;
    right:0;
    color: red;
}
.discount {
    height: 40px;
}
.panel {
    background-color: #ffffff;
    height: 1000px;
    border-radius: 5px;
}
.img-detail {
    padding: 10px 10px;
}
.info-detail {
    padding: 15px;
    font-size: 20px
}
.rate {
    text-decoration: underline;
}
.star-icon {
    color:red;
    font-size: 16px
}
.sold-detail {
        opacity: 0.5;

    font-size: 16px
}
.price-panel {
    background-color: #fafafa;
    height: auto;
}
.del-detail {
    opacity: 0.5;
    padding-left: 15px;

    font-size:16px
}
.real-detail {
    color:red;
    font-size: 32px;
    padding-left: 15px;
    padding-bottom: 15px;

}
.discount_ticket {
    font-size:15px;
    
}
.ship-option {
    opacity: 0.5;
    font-size: 16px
}
.badge {
    font-size: 15px;
}
.card {
    background-color: #fafafa;
    font-size: 15px;
}
.result #result {
    padding-right: 15px;
    padding-left: 15px;
}
.card:hover{
    background-color: #e4e4e4;
    border-width: 1px 2px 1px 2px;
    border-color: red;
    border-style: solid;
    box-shadow: 0 15px 6px -6px #999;
}
.star-icon-search {
    padding-left: 10px;
    color:#ffc107;
    height: 10px;
}
.sort {
    width: 100%;
}
.navbar {
    background-color: rgb(216, 98, 19);
    padding: auto;
}
.key_suggest {
    padding-left: 10px;
    color: black;
    font-weight: lighter;
    font-size: 14px;

}
.key_suggest_first {
    color:black;
    font-weight: lighter;
    font-size: 14px;
}
.key_suggest_first:hover {
    text-decoration: none;
        color:black
}
.key_suggest:hover {
    text-decoration: none;
    color:black
}

.carousel-control-next-icon {
    background-color:black
}
.carousel-control-prev-icon {
    background-color:black
}
.home-svg {
    color:white;
}
.nav-link {
    color:white
}
.search-form {
    padding-right: 0px;
    width: 100% ;
}
.search {
    padding-top: 60px;
}
.btn-search {
    background-color: DodgerBlue;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 16px;
    width: 45px;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
}
.products{
    width: 100%;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}